@import '../../assets/scss/partials/vars';

.collapse {
  position: relative;
  z-index: 1;
}

.collapse__button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 24px;
  padding-right: 16px;
  font-family: $font-family-default;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;
  background: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  outline: none;
  cursor: pointer;

  &:hover ~ div,
  &:focus ~ div {
    border-color: rgba($color-gray, 0.5);
  }

  @media #{$screen-tablet} {
    padding: 32px;
    padding-right: 24px;
    font-size: 22px;
    line-height: 28px;
  }
}

.collapse__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transition: transform $transition-duration-default;
  color: $color-medium-gray;
}

.collapse__icon_rotate {
  transform: rotate(-180deg);
}

.collapse__content-wrapper {
  width: 100%;
  padding-top: 72px;
  border: 1px solid rgba($color-medium-gray, 0.5);
  border-radius: $border-radius-default;
  transition: border-color $transition-duration-default;

  @media #{$screen-tablet} {
    padding-top: 92px;
  }
}

.collapse__content-inner {
  display: none;
}

.collapse__content-inner_open {
  display: block;
  padding: 12px 24px 32px;
  font-size: 18px;
  line-height: 24px;
  color: $color-black;

  @media #{$screen-tablet} {
    padding: 8px 32px 32px;
  }
}
