@import '../../assets/scss/partials/vars';

.how-order-card {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.how-order-card__item {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.how-order-card__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;

  @media #{$screen-tablet} {
    margin-right: 24px;
  }
}

.how-order-card__index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 50%;
  border: 2px solid $color-dark-blue;
  font-size: 22px;
  line-height: 28px;
  color: $color-dark-blue;
}

.how-order-card__line {
  flex-grow: 1;
  width: 1px;
  min-height: 18px;
  background-color: rgba($color-medium-gray, 0.5);
}

.how-order-card__title {
  margin: 0 0 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  @media #{$screen-tablet} {
    font-size: 18px;
    line-height: 24px;
  }
}

.how-order-card__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}
