@import '../../assets/scss/partials/vars';

.rates {
  width: 100%;
  margin-bottom: 56px;
  padding: 0 $indent-x-mobile;

  @media #{$screen-tablet} {
    margin-bottom: 80px;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    margin-bottom: 104px;
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    margin: 0 auto 104px;
    padding: 0 $indent-x-desktop;
  }
}

.rates__title {
  margin-bottom: 40px;

  @media #{$screen-tablet} {
    margin-bottom: 48px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 64px;
  }
}

.rates__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.rates__documents-title {
  margin: 56px 0 32px;

  @media #{$screen-tablet} {
    margin-top: 80px;
  }

  @media #{$screen-laptop} {
    margin: 104px 0 48px;
  }
}

.rates__list_documents {
  margin-bottom: 48px;

  @media #{$screen-tablet} {
    margin-bottom: 56px;
  }
}

.rates__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 32px;
  }
}

.rates__document-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $color-gray;
  outline: none;
  transition: color $transition-duration-default;

  @media #{$screen-tablet} {
    font-size: 22px;
    line-height: 28px;
  }

  @media #{$screen-laptop} {
    &:hover {
      color: $color-dark-blue;

      .rates__document-icon {
        color: $color-dark-blue;
      }
    }

    &:focus {
      color: $color-dark-blue;

      .rates__document-icon {
        color: $color-dark-blue;
      }
    }
  }
}

.rates__document-icon {
  flex-shrink: 0;
  margin-right: 16px;
  color: $color-medium-gray;
  transition: color $transition-duration-default;

  svg {
    width: 20px;
    height: 20px;
  }

  @media #{$screen-tablet} {
    margin-right: 28px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.rates__caption {
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.rates__caption-link {
  text-decoration: none;
  outline: none;
  color: $color-dark-blue;
  transition: color $transition-duration-default;

  @media #{$screen-laptop} {
    &:hover {
      color: $color-blue;
    }

    &:focus {
      color: $color-blue;
    }
  }
}
