@import '../../assets/scss/partials/vars';

.pocket-bank-item {
  display: block;
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    display: flex;
    margin-bottom: 40px;
  }
}

.pocket-bank-item__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 50%;
  color: $color-white;
  background-color: $color-brand-blue;

  @media #{$screen-tablet} {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.pocket-bank-item__title {
  margin-bottom: 8px;

  @media #{$screen-tablet} {
    margin-top: 8px;
  }
}

.pocket-bank-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}
