@import 'partials/fonts';
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/react-tippy';

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

