@import '../../assets/scss/partials/vars';

.rates-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 24px 16px 32px;
  border: 1px solid $color-light-gray;
  background-color: transparent;
  border-radius: $border-radius-default;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 32px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 40px;
  }
}

.rates-item_color_gray {
  background-color: $color-light-blue;
  border-color: $color-light-blue;
}

.rates-item_simple {
  @media #{$screen-tablet} {
    align-items: center;
    padding: 24px 32px;
  }
}

.rates-item__label {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-gray;

  @media #{$screen-tablet} {
    width: 242px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}

.rates-item__nested-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rates-item__nested-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 40px;
  }
}

.rates-item__nested-title {
  margin-bottom: 8px;
}

.rates-item__nested-description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-gray;

  @media #{$screen-tablet} {
    width: 390px;
    font-size: 18px;
    line-height: 24px;
  }

  @media #{$screen-laptop} {
    width: 524px;
  }
}

.rates-item__nested-description_color_black {
  color: $color-black;
}

.rates-item__nested-description_caption {
  font-size: 12px;
  line-height: 16px;

  @media #{$screen-tablet} {
    font-size: 14px;
    line-height: 18px;
  }
}

.rates-item__nested-button-container {
  width: 256px;
  height: 48px;
  margin-top: 24px;

  @media #{$screen-tablet} {
    width: 222px;
  }
}
