@import '../../assets/scss/partials/vars';

.form__block {
  margin-bottom: 16px;

  @media #{$screen-tablet} {
    margin-bottom: 32px;
  }
}

.form__row {
  @media #{$screen-tablet} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
}

.form__submit-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 8px;
}

.form__phone {
  position: relative;
}

.form__phone-button {
  position: absolute;
  top: 26px;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  color: $color-dark-blue;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color $transition-duration-default;

  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.form__agreement {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;

  @media #{$screen-tablet} {
    margin-top: 8px;
  }
}

.form__agreement-checkbox {
  flex-shrink: 0;
  margin-right: 16px;
}

.form__agreement-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-gray;
}

.form__agreement-link {
  margin: 0 5px;
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-blue;
  text-decoration: none;
  transition: color $transition-duration-default;

  &:hover {
    color: $color-blue;
  }
}
