@import '../../assets/scss/partials/vars';

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 $indent-x-mobile;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
  background-color: transparent;

  @media #{$screen-laptop} {
    padding: 0 24px;
  }

  @media #{$screen-desktop} {
    padding: 0 40px;
  }
}

.header-top__geolocation-container {
  display: flex;
}

.header-top__offices {
  display: flex;
  align-items: center;

  &::before {
    content: url('../../assets/images/header/point.svg');
    margin-right: 12px;
    transform: translateY(2px);
  }
}

.header-top__link {
  color: inherit;
  text-decoration: none;
  transition: color $transition-duration-default;
  cursor: pointer;
  outline: none;

  &:focus,
  &:hover {
    color: $color-blue;
  }
}

.header-top__button {
  padding: 0;
  color: $color-white;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  border: none;
  transition: color $transition-duration-default;
  outline: none;
  cursor: pointer;
  
  &:focus,
  &:hover {
    color: $color-blue;
  }
}

.header-top__button_city {
  display: none;

  @media #{$screen-tablet} {
    display: block;
    margin-right: 64px;
    color: $color-blue;

    svg {
      width: 9px;
      margin-left: 8px;
    }
  }


  @media #{$screen-laptop} {
    margin-right: 92px;
  }

  @media #{$screen-desktop} {
    margin-right: 98px;
  }
}

.header-top__button_language {
  color: $color-blue;
}

.header-top__button_vision {
  margin-right: 24px;

  @media #{$screen-tablet} {
    margin-right: 64px;
  }
}

.header-top__vision-title {
  display: none;

  @media #{$screen-tablet} {
    display: inline-block;
    margin-left: 8px;
  }
}
