@import '../../assets/scss/partials/vars';

.card-advantages {
  width: 100%;
  margin-bottom: 56px;
  padding: 0 $indent-x-mobile;

  @media #{$screen-tablet} {
    margin-bottom: 80px;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    margin-bottom: 104px;
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    margin: 0 auto 104px;
    padding: 0 $indent-x-desktop;
  }
}

.card-advantages__title {
  margin-bottom: 32px;

  @media #{$screen-tablet} {
    margin-bottom: 40px;
  }
}

.card-advantages__list {
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
