@import '../../assets/scss/partials/vars';

.faq-how-to-use {
  margin-bottom: 42px;

  @media #{$screen-tablet} {
    margin-bottom: 50px;;
  }
}

.faq-how-to-use__title {
  margin-bottom: 40px;
}

.faq-how-to-use__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq-how-to-use__item {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.faq-how-to-use__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;

  @media #{$screen-tablet} {
    margin-right: 24px;
  }
}

.faq-how-to-use__index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 50%;
  border: 2px solid $color-dark-blue;
  font-size: 22px;
  line-height: 28px;
  color: $color-dark-blue;
}

.faq-how-to-use__line {
  flex-grow: 1;
  width: 1px;
  min-height: 18px;
  background-color: rgba($color-medium-gray, 0.5);
}

.faq-how-to-use__item-title {
  margin: 0 0 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  @media #{$screen-tablet} {
    font-size: 18px;
    line-height: 24px;
  }
}

.faq-how-to-use__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.faq-how-to-use__link {
  display: inline-block;
  text-decoration: none;
  color: $color-dark-blue;
  transition: color $transition-duration-default;
  cursor: pointer;
  outline: none;

  &:focus,
  &:hover {
    color: $color-blue;
  }
}
