@import '../../assets/scss/partials/vars';
@import '../../assets/scss/partials/mixins';

.select {
  position: relative;
  width: 100%;
  height: 82px;
}

.select__select {
  position: absolute;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;

  &:hover ~ label {
    @include form-item-box-shadow(0.12);
  }

  &:focus ~ label {
    border-color: $color-dark-blue;
    @include form-item-box-shadow(0.15);
  }
}

.select__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  font-family: $font-family-default;
  background-color: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-default;
  transition: 
    color $transition-duration-default,
    border-color $transition-duration-default,
    box-shadow $transition-duration-default;

  @include form-item-box-shadow(0.05);

  @media #{$screen-tablet} {
    padding-right: 24px;
  }
}

.select__content {
  display: block;
}

.select__label-text {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.select__active-item {
  font-size: 18px;
  line-height: 24px;
  color: $color-black;
}

.select__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
