@import '../../assets/scss/partials/vars';

.multicard-request {
  background-color: $color-light-blue;
}

.multicard-request__wrapper {
  padding: 56px $indent-x-mobile 48px;

  @media #{$screen-tablet} {
    padding: 80px $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    padding: 104px $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    width: $container-content-desktop;
    margin: 0 auto;
    padding: 104px $indent-x-desktop;
  }
}

.multicard-request__title {
  margin-bottom: 16px;
}

.multicard-request__description {
  margin: 0 0 32px;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;

  @media #{$screen-tablet} {
    margin-bottom: 48px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 64px;
  }
}

.multicard-request__container {
  @media #{$screen-laptop} {
    display: flex;
    justify-content: space-between;
  }
}

.multicard-request__info {
  margin-bottom: 48px;

  @media #{$screen-laptop} {
    order: 1;
    flex-shrink: 0;
    width: 40%;
    margin-left: 24px;
  }

  @media #{$screen-desktop} {
    width: 418px;
    margin-left: 88px;
  }
}

.multicard-request__form {
  @media #{$screen-laptop} {
    order: 0;
    width: 100%;
  }
}
