@import '../../assets/scss/partials/vars';

.bonuses-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 12px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color $transition-duration-default;

  &:not(.bonuses-button_active):hover {
    background-color: rgba($color-white, 0.1);
  }

  &:not(.bonuses-button_active):focus {
    background-color: rgba($color-white, 0.1);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }

    .bonuses-button__icon {
      opacity: 0.5;
    }

    .bonuses-button__label {
      opacity: 0.8;
    }

    .bonuses-button__description {
      opacity: 0.6;
    }
  }

  @media #{$screen-tablet} {
    height: 80px;
  }
}

.bonuses-button_active {
  background-color: rgba($color-white, 0.15);

  &::after {
    content: url('../../assets/images/arrow-right.svg');
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 16px;
  }

  @media #{$screen-laptop} {
    &::after {
      display: none;
    }
  }
}

.bonuses-button__icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 12px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(180deg, rgba($color-white, 0.4) 0%, $color-white 100%);
    opacity: 0.5;
  }

  @media #{$screen-tablet} {
    margin-right: 16px;
  }
}

.bonuses-button__container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  text-align: left;
}

.bonuses-button__label {
  margin-bottom: 4px;

  @media #{$screen-laptop} {
    font-size: 16px;
    line-height: 20px;
  }
}
