@import '../../assets/scss/partials/vars';

.checkbox {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: 24px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  appearance: none;
  z-index: 2;
  cursor: pointer;

  &:hover ~ span {
    border: 1px solid rgba($color-gray, 0.5);
  }

  &:focus ~ span {
    box-shadow: 0 0 0 4px rgba($color-gray, 0.15);
  }

  &:checked ~ span {
    background-color: $color-dark-blue;
    border-color: $color-dark-blue;
    color: $color-white;
  }

  &:checked:hover ~ span {
    background-color: $color-brand-blue;
    border-color: $color-dark-blue;
  }

  &:checked:focus ~ span {
    box-shadow: 0 0 0 4px rgba($color-dark-blue, 0.4);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled ~ span {
    background-color: $color-light-gray;
    border-color: $color-light-gray;
  }

  &:disabled:hover ~ span {
    background-color: $color-light-gray;
    border-color: $color-light-gray;
  }
}


.checkbox__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba($color-medium-gray, 0.5);
  color: transparent;
  background-color: $color-white;
  transition: 
    color $transition-duration-default,
    border-color $transition-duration-default,
    background-color $transition-duration-default;
}
