@import '../../assets/scss/partials/vars';

.bonuses-summarise {
  padding: 32px $indent-x-mobile;
  background-color: $color-white;

  @media #{$screen-tablet} {
    padding: 40px $indent-x-tablet 86px;
  }

  @media #{$screen-laptop} {
    padding: 40px 32px 40px;
  }
}

.bonuses-summarise__title {
  margin-bottom: 32px;

  @media #{$screen-tablet} {
    margin-bottom: 40px;
  }
}

.bonuses-summarise__container {
  margin-bottom: 32px;

  @media #{$screen-tablet} {
    display: flex;
    margin-bottom: 40px;
  }
}

.bonuses-summarise__number-container {
  margin-bottom: 32px;

  &:last-child {
    margin: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 0;

    &:nth-child(1) {
      margin-right: 32px;
    }

    &:nth-child(2) {
      margin-right: 36px;
    }
  }

  @media #{$screen-desktop} {
    margin-bottom: 0;

    &:nth-child(1) {
      margin-right: 40px;
    }

    &:nth-child(2) {
      margin-right: 60px;
    }
  }
}

.bonuses-summarise__number {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: $color-black;
}

.bonuses-summarise__number_color_green {
  color: $color-green;
}

.bonuses-summarise__description {
  font-size: 16px;
  line-height: 20px;
  color: $color-gray;
}

.bonuses-summarise__button-container {
  max-width: 378px;
  width: 100%;
  height: 56px;
  margin-bottom: 32px;
}

.bonuses-summarise__caption {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-medium-gray;

  @media #{$screen-tablet} {
    text-align: left;
  }
}
