@import '../../assets/scss/partials/vars';

.pocket-bank {
  padding: 28px $indent-x-mobile 56px;

  @media #{$screen-tablet} {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 92px $indent-x-tablet 48px;
  }

  @media #{$screen-laptop} {
    padding: 52px $indent-x-laptop 48px;
  }

  @media #{$screen-desktop} {
    width: $container-content-desktop;
    margin: 0 auto;
    padding: 40px $indent-x-desktop;
  }
}

.pocket-bank__image {
  display: none;

  @media #{$screen-tablet} {
    order: 1;
    display: block;
    max-width: 385px;
    width: 100%;
    height: 722px;
  }

  @media #{$screen-laptop} {
    order: 0;
  }
}

.pocket-bank__container {
  @media #{$screen-tablet} {
    order: 0;
    flex-shrink: 0;
    width: 422px;
    margin-right: 94px;
    padding-top: 48px;
  }

  @media #{$screen-laptop} {
    order: 1;
    width: 502px;
    margin-right: 0;
    margin-left: 44px;
  }
}

.pocket-bank__title {
  margin-bottom: 16px;
}

.pocket-bank__description {
  max-width: 380px;
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;

  @media #{$screen-tablet} {
    margin-bottom: 64px;
  }
}

.pocket-bank__list {
  margin: 0 0 48px;
  padding: 0;
  list-style-type: none;

  @media #{$screen-tablet} {
    margin-bottom: 56px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 66px;
  }
}

.pocket-bank__mobile-apps {
  display: flex;
}

.pocket-bank__mobile-app {
  color: $color-gray;
  transition: color $transition-duration-default;

  &:hover {
    color: $color-black;
  }

  &:first-child {
    margin-right: 16px;
  }

  svg {
    width: 138px;
    height: 45px;
  }

  @media #{$screen-tablet} {
    &:first-child {
      margin-right: 24px;
    }

    svg {
      width: 173px;
      height: 56px;
    }
  }
}
