@import '../../assets/scss/partials/vars';

.faq-item {
  max-width: 572px;
  width: 100%;
  margin-bottom: 56px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    margin-bottom: 64px;
  }
}

.faq-item__title {
  margin-bottom: 24px;
}

.faq-item__description {
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;
}

.faq-item__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: $color-dark-blue;
  transition: color $transition-duration-default;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $color-blue;
  }

  &:focus {
    color: $color-blue;
  }
}
