@import '../../assets/scss/partials/vars';

.form-submit-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  height: 56px;
  margin: 0;
  padding: 16px 36px 16px 62px;
  font-family: $font-family-default;
  font-size: 18px;
  line-height: 24px;
  color: $color-white;
  text-align: center;
  background-color: $color-dark-blue;
  border: none;
  border-radius: $border-radius-default;
  cursor: pointer;
  outline: none;
  transition: background-color $transition-duration-default, box-shadow $transition-duration-default;

  &:hover {
    background-color: $color-brand-blue;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba($color-dark-blue, 0.4);
  }

  &:disabled {
    color: $color-medium-gray;
    background-color: $color-light-gray;
    cursor: default;

    &:hover {
      background-color: $color-light-gray;
    }

    &:focus {
      box-shadow: none;
    }
  }

  @media #{$screen-tablet} {
    width: 292px;
    padding: 16px 36px 16px 48px;
  }
}
