@import '../../assets/scss/partials/vars';

.faq {
  width: 100%;
  margin-bottom: 56px;
  padding: 0 $indent-x-mobile;

  @media #{$screen-tablet} {
    margin-bottom: 80px;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    margin-bottom: 104px;
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    margin: 0 auto 104px;
    padding: 0 $indent-x-desktop;
  }
}

.faq__title {
  margin-bottom: 32px;

  @media #{$screen-tablet} {
    margin-bottom: 40px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 64px;
  }
}

.faq__container {
  @media #{$screen-laptop} {
    display: flex;
    justify-content: space-between;
  }
}

.faq__navigation {
  margin-bottom: 48px;

  @media #{$screen-laptop} {
    position: sticky;
    top: 0;
    left: 0;
    width: 356px;
    height: 100%;
    margin-bottom: 0;
    padding-top: 128px;
    margin-top: -128px;
  }

  @media #{$screen-desktop} {
    width: 384px;
  }
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
