@import '../../assets/scss/partials/vars';
@import '../../assets/scss/partials/mixins';

.form-radio-list {
  padding: 16px 16px 24px;
  background-color: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-default;

  @include form-item-box-shadow(0.05);
}

.form-radio-list__title {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.form-radio-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-radio-list__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}