@font-face {
  font-family: 'VTB Group';
  font-style: normal;
  font-weight: 300;
  src:  url('/fonts/VTBGroupLight.woff2') format('woff2'),
  url('/fonts/VTBGroupLight.woff') format('woff'),
  url('/fonts/VTBGroupLight.ttf') format('truetype');
}

@font-face {
  font-family: 'VTB Group';
  font-style: normal;
  font-weight: normal;
  src:  url('/fonts/VTBGroupBook.woff2') format('woff2'),
  url('/fonts/VTBGroupBook.woff') format('woff'),
  url('/fonts/VTBGroupBook.ttf') format('truetype');
}

@font-face {
  font-family: 'VTB Group';
  font-style: normal;
  font-weight: 500;
  src:  url('/fonts/VTBGroupDemiBold.woff2') format('woff2'),
  url('/fonts/VTBGroupDemiBold.woff') format('woff'),
  url('/fonts/VTBGroupDemiBold.ttf') format('truetype');
}
