.tippy-tooltip {
  max-width: 260px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $color-white;
  background-color: rgba($color-black, 0.8);
  border-radius: 3px;
}

.tippy-popper[x-placement^=top-end] {
  margin-bottom: -5px;
}
