// COLORS
$color-white: #fff;
$color-black: #2f3441;
$color-gray: #6b7683;
$color-medium-gray: #acb6c3;
$color-light-gray: #eaedf5;
$color-brand-blue: #0a2896;
$color-dark-blue: #1e4bd2;
$color-blue: #00aaff;
$color-light-blue: #f3f7fa;
$color-green: #4cc864;
$color-red: #ca181f;
$color-dark-red: #94181d;

// FONTS
$font-family-default: 'VTB Group', sans-serif;

// BREAKPOINTS
$screen-mobile: "screen and (min-width: 320px)";
$screen-tablet: "screen and (min-width: 768px)";
$screen-laptop: "screen and (min-width: 1024px)";
$screen-desktop: "screen and (min-width: 1280px)";

// INDENTS
$indent-x-mobile: 16px;
$indent-x-tablet: 24px;
$indent-x-laptop: 40px;
$indent-x-desktop: 100px;

// CONTAINERS
$container-content-laptop: 1024px;
$container-content-desktop: 1280px;

// INDEXES
$navigation-bar-index: 100;
$modal-index: 150;

// TRANSITIONS
$transition-duration-default: 0.25s;

// OTHER
$border-radius-default: 4px;
