@import '../../assets/scss/partials/vars';

.bonuses-option {
  background-color: $color-light-blue;

  @media #{$screen-laptop} {
    width: 557px;
  }

  @media #{$screen-desktop} {
    width: 638px;
  }
}

.bonuses-option__container {
  position: relative;
  padding: 32px $indent-x-mobile 0;

  &::after {
    content: url('../../assets/images/corner.svg');
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
  }

  @media #{$screen-tablet} {
    padding: 40px $indent-x-tablet 0;

    &::after {
      transform: translate(-50%, 2px);
    }
  }

  @media #{$screen-laptop} {
    padding: 40px 32px 0;
  }
}

.bonuses-option__title {
  margin-bottom: 16px;
}

.bonuses-option__description {
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;

  @media #{$screen-tablet} {
    margin-bottom: 16px;
  }
}

.bonuses-option__link {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: $color-dark-blue;
  outline: none;
  transition: color $transition-duration-default;

  &:focus,
  &:hover {
    color: $color-blue;
  }

  @media #{$screen-tablet} {
    margin-bottom: 48px;
  }
}

.bonuses-option__tabs-wrapper {
  width: 100%;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba($color-black, 0.1);
}

.bonuses-option__tabs {
  transform: translateY(1px);
}

.bonuses-option__fields {
  display: grid;
  grid-template-columns: minmax(0, 350px);
  grid-row-gap: 16px;
  margin-bottom: 16px;

  @media #{$screen-tablet} {
    margin-bottom: 8px;
    grid-template-columns: 350px 350px;
    grid-row-gap: 0;
    grid-column-gap: 20px;
  }

  @media #{$screen-laptop} {
    grid-template-columns: 240px 240px;
    grid-column-gap: 12px;
  }

  @media #{$screen-desktop} {
    grid-template-columns: 258px 258px;
  }
}
