@import '../../assets/scss/partials/vars';

.header {
  background-image: linear-gradient(0deg, $color-white 0%, $color-brand-blue 1%);
  background-repeat: no-repeat;
  background-size: 100% 40px;

  @media #{$screen-laptop} {
    min-height: 80px;
    background-size: 100% 80.7px;
  }
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
