@import '../../assets/scss/partials/vars';
@import '../../assets/scss/partials/mixins';

.form-gender {
  padding: 16px 16px 0;
  background-color: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-default;
  transition: box-shadow $transition-duration-default;

  @include form-item-box-shadow(0.05);

  &:hover {
    @include form-item-box-shadow(0.12);
  }
}

.form-gender__title {
  margin: 0 0 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.form-gender__tabs {
  transform: translateY(2px);
}

.form-gender__tab {
  padding-top: 0;
  font-size: 18px;
  line-height: 24px;
}