@import '../../assets/scss/partials/vars';
@import '../../assets/scss/partials/mixins';

.input-field__container {
  position: relative;
  z-index: 1;
  border-color: transparent;
  border-radius: $border-radius-default;
  background-color: $color-white;
}

.input-field__input {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 42px 16px 16px;
  font-family: $font-family-default;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-default;
  outline: none;
  transition: 
    color $transition-duration-default,
    border-color $transition-duration-default,
    box-shadow $transition-duration-default;

  @include form-item-box-shadow(0.05);

  &:hover {
    @include form-item-box-shadow(0.12);
  }

  &:focus {
    border-color: $color-dark-blue;
    @include form-item-box-shadow(0.15);
  }

  &:focus ~ label,
  &[data-empty='false'] ~ label,
  &:-webkit-autofill ~ label {
    font-size: 14px;
    line-height: 18px;
    transform: translateY(-13px);
    color: $color-gray;
  }

  &:disabled {
    color: $color-medium-gray;
    background-color: $color-light-gray;
  }

  &:disabled ~ label {
    color: $color-medium-gray;
  }
}

.input-field__input_has-caption {
  height: 122px;
  padding-bottom: 56px;

  @media #{$screen-tablet} {
    height: 106px;
    padding-bottom: 40px;
  }
}

.input-field__input_has-error {
  color: $color-red;
  border-color: $color-red;

  &:focus {
    border-color: $color-red;
  }
}

.input-field__input_has-info {
  padding-right: 60px;
}

.input-field__label {
  position: absolute;
  top: 29px;
  left: 16px;
  pointer-events: none;
  color: $color-medium-gray;
  font-size: 18px;
  line-height: 24px;
  transform: translateY(0);
  transition: $transition-duration-default ease all;
}

.input-field__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  padding: 0 16px 16px;
  font-size: 12px;
  line-height: 16px;
  color: $color-medium-gray;
}

.input-field__error-container {
  opacity: 0;
  padding: 8px 0;
  transition: color $transition-duration-default;

  &_show {
    opacity: 1;
  }

  @media #{$screen-tablet} {
    min-height: 32px;
  }
}

.input-field__error {
  margin: 0;
  padding: 0 16px;
  font-size: 12px;
  line-height: 16px;
  color: $color-red;
}

.input-field__info {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  color: $color-medium-gray;
  cursor: pointer;
  transition: color $transition-duration-default;

  &:hover {
    color: $color-gray;
  }

  svg {
    vertical-align: auto;
  }
}
