@import '../../assets/scss/partials/vars';

.radio {
  position: relative;
  display: flex;
}

.radio__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  cursor: pointer;
}

.radio__content_has-title {
  justify-content: space-between;
}
