@import '../../assets/scss/partials/vars';

.footer {
  padding: 24px $indent-x-mobile;
  background-color: $color-brand-blue;
  box-shadow: 0px -8px 32px rgba($color-black, 0.12);

  @media #{$screen-tablet} {
    padding: 24px $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    padding: 24px $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    padding: 24px 0;
  }
}

.footer__wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    margin: 0 auto;
    padding: 0 $indent-x-desktop;
  }
}

.footer__top-container {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba($color-white, 0.1);

  @media #{$screen-tablet} {
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright {
  margin: 0 0 24px;
}

.footer__info-container {
  margin-bottom: 24px;

  @media #{$screen-tablet} {
    margin-bottom: 0;
  }

  @media #{$screen-desktop} {
    flex-shrink: 0;
    width: 356px;
    margin-right: 86px;
  }
}

.footer__stores-container {
  display: flex;
  align-items: center;
  height: 32px;

  @media #{$screen-tablet} {
    justify-content: flex-end;
  }
}

.footer__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__list_socials {
  margin-bottom: 24px;

  @media #{$screen-desktop} {
    margin-bottom: 0;
  }
}

.footer__item_links {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__item_socials {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__item_stores {
  &:first-child {
    margin-right: 12px;
    margin-left: 24px;
  }
}

.footer__link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $color-white;
  transition: color $transition-duration-default;

  &:focus,
  &:hover {
    color: $color-blue;
  }
}

.footer__cookies {
  padding-top: 16px;
}

.footer__link_cookie {
  color: $color-blue;
}

.footer__socials-container {
  @media #{$screen-desktop} {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
