@import '../../assets/scss/partials/vars';

.button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  font-size: 18px;
  line-height: 24px;
  color: $color-white;
  text-align: center;
  border: none;
  border-radius: $border-radius-default;
  cursor: pointer;
  outline: none;
  transition: background-color $transition-duration-default, box-shadow $transition-duration-default;

  &:disabled {
    color: $color-medium-gray;
    background-color: $color-light-gray;
    cursor: default;

    &:hover {
      background-color: $color-light-gray;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.button_color_red {
  background-color: $color-red;

  &:hover {
    background-color: $color-dark-red;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(202, 24, 31, 0.4);
  }
}

.button_color_blue {
  background-color: $color-dark-blue;

  &:hover {
    background-color: $color-brand-blue;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba($color-dark-blue, 0.4);
  }
}
