@import '../../assets/scss/partials/vars';

.faq-navigation {
  width: 100%;
  padding: 16px 0;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-default;

  @media #{$screen-tablet} {
    padding: 24px 0 32px;
  }
}

.faq-navigation__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media #{$screen-tablet} {
    margin-bottom: 32px;
  }
}

.faq-navigation__item {
  min-height: 40px;
  margin-bottom: 8px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-blue;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;

  &:last-child {
    margin-bottom: 8px;
  }

  &:disabled {
    color: $color-medium-gray;
    cursor: not-allowed;

    &:hover {
      color: $color-medium-gray;
    }
  }

  @media #{$screen-tablet} {
    padding: 0 24px;
    font-size: 18px;
    line-height: 24px;
  }

  @media #{$screen-laptop} {
    transform: translateX(-1px);
    font-size: 16px;
    line-height: 20px;
    color: $color-gray;
    border-left: 2px solid transparent;
    transition: border-color $transition-duration-default, color $transition-duration-default;
    cursor: pointer;

    &:hover {
      color: $color-dark-blue;
    }

    &:focus {
      color: $color-dark-blue;
    }
  }
}

.faq-navigation__item_active {
  border-left-color: $color-dark-blue;

  @media #{$screen-laptop} {
    color: $color-dark-blue;
  }
}

.faq-navigation__button-container {
  width: 253px;
  height: 48px;
  margin-left: 16px;

  @media #{$screen-tablet} {
    margin-left: 24px;
  }
}
