@import '../../assets/scss/partials/vars';

.required-documents {
  margin: 0;
  padding-left: 24px;
  list-style-type: none;

  @media #{$screen-tablet} {
    padding-left: 32px;
  }
}

.required-documents__item {
  position: relative;
  margin-bottom: 24px;

  @media #{$screen-tablet} {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.required-documents__title {
  margin: 0 0 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  @media #{$screen-tablet} {
    font-size: 18px;
    line-height: 24px;
  }
}

.required-documents__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.required-documents__link {
  color: $color-dark-blue;
  text-decoration: none;
  transition: color $transition-duration-default;

  &:hover {
    color: $color-blue;
  }
}

.required-documents__icon {
  position: absolute;
  top: -2px;
  left: -24px;
  display: inline-block;
  width: 12px;
  height: 12px;

  @media #{$screen-tablet} {
    top: 0;
    left: -32px;
  }
}
