@import '../../assets/scss/partials/vars';

.tabs {
  display: flex;
  width: 100%;
}

.tabs__item {
  width: auto;
  padding: 14px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-gray;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
  transition: color $transition-duration-default, border-bottom-color $transition-duration-default;

  &:last-child {
    margin-right: 0;
  }

  &:not(&:disabled):hover {
    color: $color-dark-blue;
  }

  &:focus {
    color: $color-dark-blue;
  }

  &:disabled {
    cursor: not-allowed;
    color: $color-medium-gray;
  }
}

.tabs__item_active {
  color: $color-dark-blue;
  border-bottom-color: $color-dark-blue;
}
