@import '../../assets/scss/partials/vars';

.card-advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 528px;
  width: 100%;
  margin-bottom: 8px;
  padding: 24px 16px;
  background-color: $color-light-gray;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-tablet} {
    min-width: 528px;
    height: 194px;
    padding-right: 96px;
    padding-left: 24px;
  }
}

.card-advantages-item__container {
  margin-bottom: 32px;

  @media #{$screen-tablet} {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.card-advantages-item__text-block {
  &:first-child {
    margin-bottom: 24px;
  }

  @media #{$screen-tablet} {
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.card-advantages-item__description {
  margin: 2px 0 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;


  @media #{$screen-tablet} {
    width: 164px;
  }
}

.card-advantages-item__icon-container {
  @media #{$screen-tablet} {
    display: flex;
    align-items: center;
  }
}

.card-advantages-item__icon-description {
  margin: 12px 0 0;
  font-size: 18px;
  line-height: 24px;
  color: $color-black;

  @media #{$screen-tablet} {
    margin-top: 0;
    margin-left: 24px;
  }
}
