@import '../../assets/scss/partials/vars';

.title {
  margin: 0;
  font-style: normal;
}

.title_color_black {
  color: $color-black;
}

.title_color_white {
  color: $color-white;
}

.title_weight_thin {
  font-weight: 300;
}

.title_weight_normal {
  font-weight: normal;
}

.title_weight_bold {
  font-weight: 500;
}

.title_level_1 {
  font-size: 42px;
  line-height: 48px;
}

.title_level_2 {
  font-size: 32px;
  line-height: 40px;
}

.title_level_3 {
  font-size: 22px;
  line-height: 28px;
}

.title_level_4 {
  font-size: 18px;
  line-height: 24px;
}
