@import '../../assets/scss/partials/vars';

.navigation-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $navigation-bar-index;
  width: 100%;
  margin-bottom: 56px;
  padding: 0 $indent-x-mobile;
  background-color: transparent;

  @media #{$screen-tablet} {
    margin-bottom: 80px;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    width: $container-content-desktop;
    margin: 0 auto 80px;
    padding: 0 $indent-x-desktop;
  }
}

.navigation-bar_top {
  padding: 0;
  background-color: $color-white;

  @media #{$screen-desktop} {
    border-bottom: 1px solid rgba($color-black, 0.1);
    width: 100%;
  }
}

.navigation-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 556px;
  border-bottom: 1px solid rgba($color-black, 0.1);
}

.navigation-bar__wrapper_top {
  padding: 0 $indent-x-mobile;

  @media #{$screen-tablet} {
    max-width: 100%;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    width: $container-content-desktop;
    margin: 0 auto;
    padding: 0 $indent-x-desktop;
    border-bottom: none;
  }
}

.navigation-bar__tabs-container {
  width: 100%;
  transform: translateY(1px);
}

.navigation-bar__tab {
  @media #{$screen-tablet} {
    padding: 24px 0;
    font-size: 22px;
    line-height: 28px;
  }
}

.navigation-bar__button {
  display: none;

  @media #{$screen-tablet} {
    width: 192px;
    height: 48px;
    transition: visibility $transition-duration-default, opacity $transition-duration-default;
  }
}

.navigation-bar__button_top {
  @media #{$screen-tablet} {
    display: block;
  }
}
