@import '../../assets/scss/partials/vars';

.debit-card {
  width: 100%;
  margin-bottom: 42px;
  padding: 0 $indent-x-mobile;

  @media #{$screen-tablet} {
    margin-bottom: 56px;
    padding: 0 $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    padding: 0 $indent-x-laptop;
  }

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    margin: 0 auto 56px;
    padding: 0 $indent-x-desktop;
  }
}

.debit-card__wrapper {
  position: relative;
}

.debit-card__title {
  margin-bottom: 16px;
}

.debit-card__description {
  margin: 0 0 32px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: $color-gray;

  @media #{$screen-tablet} {
    margin-bottom: 48px;
  }

  @media #{$screen-laptop} {
    max-width: 486px;
    margin-bottom: 40px;
  }
}

.debit-card__image {
  width: 288px;
  height: 181px;
  margin-bottom: 40px;
  object-fit: contain;
  visibility: visible;

  @media #{$screen-tablet} {
    width: 360px;
    height: 227px;
    margin-bottom: 48px;
  }

  @media #{$screen-laptop} {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 189px;
    margin-bottom: 0;
  }

  @media #{$screen-desktop} {
    width: 360px;
    height: 227px;
  }
}

.debit-card__image_hide {
  @media #{$screen-laptop} {
    visibility: hidden;
    transition: visibility 0.0001s 0.0001s;
  }
}

.debit-card__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 44px;
  grid-row-gap: 32px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;

  @media #{$screen-tablet} {
    display: flex;
    margin-bottom: 48px;
  }
}

.debit-card__item {
  @media #{$screen-tablet} {
    width: 120px;

    &:nth-child(1) {
      margin-right: 24px;
    }

    &:nth-child(2) {
      margin-right: 32px;
    }

    &:nth-child(3) {
      margin-right: 56px;
    }
  }

  @media #{$screen-laptop} {
    &:nth-child(1) {
      margin-right: 8px;
    }

    &:nth-child(2) {
      margin-right: 16px;
    }

    &:nth-child(3) {
      margin-right: 48px;
    }
  }

  @media #{$screen-desktop} {
    &:nth-child(1) {
      margin-right: 24px;
    }

    &:nth-child(2) {
      margin-right: 32px;
    }

    &:nth-child(3) {
      margin-right: 56px;
    }
  }
}

.debit-card__item-title {
  margin: 0 0 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: $color-black;
}

.debit-card__item-description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.debit-card__button {
  width: 288px;
  height: 56px;

  @media #{$screen-tablet} {
    width: 224px;
  }
}
