@import './assets/scss/partials/vars';

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
  background-color: $color-white;
}

.app__wrapper {
  position: relative;
  padding-top: 56px;

  @media #{$screen-tablet} {
    padding-top: 80px;
  }

  @media #{$screen-laptop} {
    padding-top: 104px;
  }
}

.app__container {
  width: 100%;
}

.app__image-container {
  display: none;

  @media #{$screen-laptop} {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 $indent-x-laptop 104px;
  }

  @media #{$screen-desktop} {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: $container-content-desktop;
    padding: 0 $indent-x-desktop 104px;
  }
}

.app__image {
  @media #{$screen-laptop} {
    position: sticky;
    top: 0;
    left: 100%;
    display: block;
    width: 300px;
    height: 189px;
    margin-left: auto;
    object-fit: contain;
    transform: translateY(104px);
  }

  @media #{$screen-desktop} {
    width: 360px;
    height: 227px;
  }
}

.app__card-section_static {
  position: static;
}

.app__card-section_relative {
  position: relative;
}
