@import '../../assets/scss/partials/vars';

.bonuses {
  background-image: url('../../assets/images/bonuses/background-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @media #{$screen-tablet} {
    background-position: right bottom;
  }

  @media #{$screen-laptop} {
    background-image: url('../../assets/images/bonuses/background-laptop.jpg');
    background-size: 100% 916px;
    background-position-y: top;
  }

  @media #{$screen-desktop} {
    width: 100%;
  }
}

.bonuses__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 56px $indent-x-mobile;

  @media #{$screen-tablet} {
    height: 562px;
    padding: 80px $indent-x-tablet;
  }

  @media #{$screen-laptop} {
    height: auto;
    padding: 104px $indent-x-laptop 0;
  }

  @media #{$screen-desktop} {
    max-width: $container-content-desktop;
    padding: 104px $indent-x-desktop 0;
    margin: 0 auto;
  }
}

.bonuses__title {
  margin-bottom: 16px;
}

.bonuses__description {
  margin: 0 0 32px;
  font-size: 18px;
  line-height: 24px;
  color: $color-white;

  @media #{$screen-tablet} {
    margin-bottom: 40px;
  }

  @media #{$screen-laptop} {
    margin-bottom: 64px;
  }
}

.bonuses__buttons-container {
  display: grid;
  grid-template-columns: minmax(0, 350px);
  grid-row-gap: 12px;

  @media #{$screen-tablet} {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 20px;
  }

  @media #{$screen-laptop} {
    grid-template-columns: minmax(362px, 418px);
    grid-auto-rows: 80px;
    grid-row-gap: 12px;
    grid-column-gap: 0;
  }
}

.bonuses__options-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-index;
  width: 100%;
  height: 100%;
  background-color: $color-light-blue;
  overflow-y: auto;
}

.bonuses__options-breadcrumb-container {
  padding: 32px $indent-x-mobile 0;

  @media #{$screen-tablet} {
    padding: 40px $indent-x-tablet 0;
  }
}

.bonuses__options-breadcrumb-button {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: $color-dark-blue;
  background-color: transparent;
  border: none;
  outline: none;

  &::before {
    content: url('../../assets/images/arrow-left.svg');
    height: 24px;
    margin-right: 16px;
  }
}

.bonuses__container {
  display: flex;
  justify-content: space-between;
}

.bonuses__options-container {
  border: 1px solid $color-light-gray;
  box-shadow: 0px 8px 32px rgba(47, 52, 65, 0.05);
  border-radius: $border-radius-default;
}
