@import '../../assets/scss/partials/vars';

.header-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
  padding: 12px 16px 16px;
  background-color: $color-white;
  box-shadow: 0 8px 32px rgba($color-black, 0.12);

  @media #{$screen-laptop} {
    max-width: 1236px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.header-main__top-container {
  @media #{$screen-laptop} {
    display: flex;
  }
}

.header-main__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$screen-laptop} {
    height: 100%;
    padding-left: 178px;
  }

  @media #{$screen-desktop} {
    padding-right: 204px;
  }
}

.header-main__category-button {
  flex-shrink: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: $color-dark-blue;
  background-color: transparent;
  border: none;
  transition: color $transition-duration-default;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-blue;
  }

  &:focus {
    color: $color-blue;
  }

  svg {
    width: 9px;
    margin-left: 8px;
  }

  @media #{$screen-laptop} {
    margin-left: 178px;
    margin-right: 12px;
  }
}

.header-main__online-link {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 142px;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  text-decoration: none;
  background-color: $color-red;
  transition:
    background-color $transition-duration-default,
    box-shadow $transition-duration-default;

  svg {
    width: 16px;
  }

  &:hover {
    background-color: $color-dark-red;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(202, 24, 31, 0.4);
  }

  @media #{$screen-laptop} {
    top: 100%;
    transform: translateY(-100%);
    width: 180px;
    height: 64px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 20px;
    border-bottom-right-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;

    svg {
      width: 24px;
    }
  }
}

.header-main__logo {
  flex-shrink: 0;
  width: 58px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;

  svg {
    width: 58px;
  }

  @media #{$screen-laptop} {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    width: 110px;

    svg {
      width: 110px;
    }
  }
}

.header-main__more-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color $transition-duration-default;

  &:hover {
    color: $color-blue;
  }

  &:focus {
    color: $color-blue;
  }

  @media #{$screen-laptop} {
    display: none;
  }

  @media #{$screen-desktop} {
    display: flex;
  }
}

.header-main__more-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  background-color: $color-light-blue;
  border-radius: 50%;

  svg {
    width: 8px;
  }
}

.header-main__top-list {
  display: none;

  @media #{$screen-laptop} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 18px 0 40px;
    list-style-type: none;
    background-color: $color-brand-blue;
  }
}

.header-main__bottom-list {
  display: none;

  @media #{$screen-tablet} {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 32px 0 24px;
    list-style-type: none;
  }

  @media #{$screen-laptop} {
    margin-left: 0;
  }
}

.header-main__top-item {
  display: none;

  @media #{$screen-desktop} {
    display: block;
  }
}

.header-main__bottom-item {
  margin-right: 40px;

  &:last-child {
    display: none;
    margin-right: 0;
  }

  @media #{$screen-laptop} {
    margin-right: 54px;
  }

  @media #{$screen-desktop} {
    &:last-child {
      display: block;
    }
  }
}

.header-main__link {
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  text-decoration: none;
  transition: color $transition-duration-default;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-blue;
  }

  &:focus {
    color: $color-blue;
  }
}

.header-main__link_color_white {
  color: $color-white;
}

.header-main__link_active {
  font-weight: 500;
}
